<div class="parent p-2" *ngIf="totalItems.length > 0">
  This graph is constructed using ApexCharts. The data represented is gathered from an API call.
  <apx-chart
[series]="chartData?.series"
[chart]="chartData?.chart"
[dataLabels]="chartData?.dataLabels"
[plotOptions]="chartData?.plotOptions"
[yaxis]="chartData?.yaxis"
[xaxis]="chartData?.xaxis"
[fill]="chartData?.fill"
[title]="chartData?.title">
</apx-chart>
<div class="ms-1">The graphs below represent carbon intensity of the electricity system in Great Britain</div>
<div fxLayout="row wrap">
  <ng-container *ngFor="let chart of radialBarTotalItems">
    <mat-card class="mat-elevation-z4 m-2">
      <mat-card-header>
        <div class="p-1">Air Index: {{chart.label}}</div>
        <div class="p-1">From Date: {{chart.fromDate}}</div>
        <div class="p-1">To Date: {{chart.toDate}}</div>
      </mat-card-header>
      <mat-card-content>
        <apx-chart
        [series]="chart.series"
        [chart]="chart.chart"
        [plotOptions]="chart.plotOptions"
        [labels]="chart.labels"
        [legend]="chart.legend"
        [colors]="chart.colors"
        [responsive]="chart.responsive"
        ></apx-chart>
      </mat-card-content>
    </mat-card>
  </ng-container>

</div>

</div>

