<div class="parent mt-3">
  This is the landing page. Above there are four menues.
  <div>
    <div class="mt-3 fs-1">
      Home Menu
    </div>
    <div class="ms-3">The home menu represents the landing page of this project.</div>
  </div> 

  <div>
    <div class="mt-3 fs-1">
      API Calls
    </div>
    <div class="ms-3">The API Calls menu represents the module where multiple APIs are called and the received data is represented in various ways.</div>
  </div> 

  <div>
    <div class="mt-3 fs-1">
      Student DB
    </div>
    <div class="ms-3">This menu represents some material field design and GET, POST, PUT request formats.</div>
  </div>
  
  <div>
    <div class="mt-3 fs-1">
      Graphs
    </div>
    <div class="ms-3">This menu represents graphical visualization of data received from some API calls. As graph generator, ApexCharts has been used</div>
  </div>
</div>